streamlit==0.84.2
pytorch-tabnet==3.1.1
numpy @ file:///C:/ci/numpy_and_numpy_base_1620833114945/work
sklearn==0.0
Pillow @ file:///C:/ci/pillow_1617386341487/work
pandas @ file:///C:/ci/pandas_1624383612827/work